<div class="modal-header">
  <h4 class="modal-title mx-auto">Share this Place</h4>
  <button type="button" class="close-btn" aria-label="Close" (click)="close()">
    <span aria-hidden="true">X</span>
    <!-- <span aria-hidden="true">&times;</span> -->
  </button>
</div>
<!-- <div class="content-container"><p></p></div> -->
<div class="social-img">
  <img src="./assets/images/facebook-icon.png" />
  <img src="./assets/images/google-icon.png" />
  <img src="./assets/images/apple-icon.png" />
  <img src="./assets/images/edyoos-logo.svg" />
</div>
