<div class="faq-page">
    <app-nav-bar></app-nav-bar>
    <div class="container faq-container">
        <h2>Frequently Asked Questions</h2>
        <button class="accordion">Can I buy an Edyoos gift card?</button>
        <div class="panel">
            <p>Yes! Contact us at <a href="mailto:support@edyoos.com?subject=GiftCard">support@edyoos.com</a></p>
        </div>

        <button class="accordion">Do I have to reserve my parking space before I arrive?</button>
        <div class="panel">
            <p>No, but we encourage it. If space is available you may pull in to the space and pay from your device
                onsite.</p>
        </div>

        <button class="accordion">What do I do if somebody is parked in my space?</button>
        <div class="panel">
            <p>Contact our customer help line at <a href="tel:8001234567">800.123.4567</a> or email us at <a
                    href="mailto:support@edyoos.com?subject=GiftCard">support@edyoos.com</a>. We are standing by to
                help.</p>
        </div>

        <button class="accordion">Can I reserve a space for a future date?</button>
        <div class="panel">
            <p>Yes! Select Future Reservation on the search bar to reserve a space for a different day.</p>
        </div>

        <button class="accordion">Can I rent out my parking space on Edyoos?</button>
        <div class="panel">
            <p>We would love to help you rent your space and make some extra cash! Contact <a
                    href="mailto:support@edyoos.com?subject=GiftCard">support@edyoos.com</a> today to
                get started.</p>
        </div>

        <button class="accordion">Will using Edyoos add time to my life span?</button>
        <div class="panel">
            <p>Edyoos is spreading all through out the U.S.</p>
        </div>

        <button class="accordion">Where is Edyoos located?</button>
        <div class="panel">
            <p>No comment. Wink wink.</p>
        </div>

        <button class="accordion">Will using Edyoos make me look cool?</button>
        <div class="panel">
            <p>Yes, absolutely.</p>
        </div>

        <button class="accordion">Do I have to get out of my car to pay?</button>
        <div class="panel">
            <p>No. You find and reserve you space from the comfort of wherever you are on your personal device.</p>
        </div>
        <br>
    </div>
    <app-footer></app-footer>
</div>