.custom-row{
    display: flex;
flex-wrap: wrap;
}
.login-page{
    background-image: url("/assets/images/Background-signin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.login-container{
    text-align: center;
    background-color: #ffffff;
    width: 38%;
    padding: 1rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.login-container h1{
    font-size: 1.5rem;
    color: #818181;
    padding: 8px 15px;
    border-bottom: 1px solid #d8d8d8;
}
.login-container h3 {
    text-align: left;
    margin: 0.5rem 0rem 0rem 0rem;
    display: block;

}
// .login-container input{
//     border-radius: 2rem;
//     border: 1px solid #8194a3;
// }
.login-container input:focus{
outline: 0px;
}
.login-btn {
    margin-top: 1rem;
    border-radius: 2rem;
    border: 2px solid #3489eb;
    background-color: #3489eb;
    color: #f4f4f4;
    width: 50%;
    padding: 0.5rem 0.75rem;
    transition: 0.5s;
  }
  .login-btn:hover {
    border: 2px solid #3489eb;
    background-color: #f4f4f4;
    color: #3489eb;
  }
  .login-btn:disabled {
    border: 2px solid #226ec5;
    background-color: #226ec5;
    color: #f4f4f4;
    opacity: 0.65;
  }
  .terms-btn {
    color: #3489eb;
  }
  .terms-btn:hover {
    color: #3489eb;
    text-decoration: none;
  }
  .checkbox{
    text-align: left;
    margin-top: 1rem;
  }  
  .forget-password-wrapper{
  height: auto;
  min-height: 75vh;
   background-repeat: no-repeat;
   background-position: center center;
      //background-size: cover;
  background-image: url("/assets/images/viagalactica-DxHR8K5Egjk-unsplash_edited_edited.jpg");
}

.form-control{
  background-color:#dbdbdb !important;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
}
.form-control {
  background-color: rgb(219, 219, 219);
  &:hover, &:active,&:focus{
    outline: none !important;
    border: none !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgba(76, 218, 100) !important;;
  }
}
::-webkit-input-placeholder { /* Edge */
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
  font-weight: bold;
  font-size: 14px;

}

::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.btn-login{
  background: rgba(76, 218, 100) !important;;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  border: 0;
  &:hover{
      background: #000;
      color: #fff;
  }  
}