<section class="login-page-wrapper">
    <app-nav-bar-new></app-nav-bar-new>
    <div class="container py-5">
        <div class="row no-gutters">
            <div class="col-7 mx-auto px-5 bg-light" style="border-radius: 20px;">

                <div class="form-card text-center">
                    <div class="form-card-grid">
                        <h1 class="h1 font-weight-bold text-center py-2" style="font-size: 30px;">Email has been confirmed
                        </h1>
                        <div class="form-content">
                            <a routerLink="../changepassword">You can change the password</a>
                            <br> Or
                            <br>
                            <a routerLink="../login">You can redirect to the login page</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>