<!-- <div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Reset Password
                </div>
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                        <div formGroupName="passwordGroup">

                            <mat-form-field style="width:100%">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" (blur)="logValidationErrors()" required
                                validateEqual="confirmPassword" formControlName="password" id="password">
                                <mat-error>
                                    {{formErrors.password}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div formGroupName="passwordGroup">
                            <mat-form-field style="width:100%">
                                <mat-label>Confirmation Password</mat-label>
                                <input matInput type="password" validateEqual="password" (blur)="logValidationErrors()"
                                placeholder="Confirmation Password" id="passwordConfirmation" required
                                formControlName="passwordConfirmation">
                                <mat-error>
                                    {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation
                                        : formErrors.passwordGroup}}
                                </mat-error>                             
                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button type="submit" [disabled]="submitBtnDisable || resetPasswordForm.invalid"
                                class="btn btn-fill btn-danger">
                                <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable" role="status" aria-hidden="true"></span>
                               {{submitBtnDisable?'Loading...':'Reset'}} 
                                
                            </button>
                            <div class="text-danger mt-2">
                                {{httpError}}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->



<section class="login-page-wrapper">
    <app-nav-bar-new></app-nav-bar-new>
    <div class="container py-5">
        <div class="row no-gutters">
            <div class="col-12 col-md-7 mx-auto px-md-5 bg-light" style="border-radius: 20px;">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-card">
                        <div class="form-card-grid">
                            <h1 class="h1 font-weight-bold text-center py-2" style="font-size: 30px;">Reset Password
                            </h1>

                            <div class="col-12 my-1">&nbsp;</div>
                            <div formGroupName="passwordGroup">

                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control form-control-lg" type="input"
                                            (blur)="logValidationErrors()" type="password" placeholder="Password"
                                            formControlName="password" />
                                        <div *ngIf="formErrors.password" class="text-danger">
                                            {{formErrors.password}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 my-1">&nbsp;</div>

                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control form-control-lg" type="input"
                                            (blur)="logValidationErrors()" type="password"
                                            placeholder="Confirm Password" formControlName="passwordConfirmation" />
                                        <div *ngIf="(formErrors.passwordConfirmation || formErrors.passwordGroup)"
                                            class="text-danger">
                                            {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation
                                    : formErrors.passwordGroup}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-1">&nbsp;</div>
                            </div>

                            <div class="col-12 text-center">
                                <button class="btn-login py-2"
                                [disabled]="submitBtnDisable || resetPasswordForm.invalid">
                                    <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable"
                                        role="status" aria-hidden="true"></span>
                                    {{submitBtnDisable?'Loading...':'Reset'}}
                                </button>
                            </div>

                            <div class="text-center text-danger mt-2">
                                {{httpError}}
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>