.landing-page-wrapper{
    background-image: url("/assets/images/img-bg.jpg");
    // background-image: url("https://static.wixstatic.com/media/a37347_ccc56a0f485a48c18c6d1d0daca30ee7~mv2.jpg/v1/fill/w_2880,h_1020,al_t,q_90,usm_0.66_1.00_0.01/a37347_ccc56a0f485a48c18c6d1d0daca30ee7~mv2.webp");
    background-size: cover;
    // background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 575px;
    position: relative;
  }
  .search-container.search-container-refund {
    padding: 20px 50px;
    background: transparent;
    margin-bottom: 0;
}

.search-container-refund p {
  font-size: 18px;
  margin: 0 0 20px;
  text-align: justify;
}
.search-container.search-container-refund-bx {
  margin-top: 0;
  padding: 20px 50px 20px 20px;
}