<div class="landing-page-wrapper">
    <app-nav-bar-new></app-nav-bar-new>
    <div class="container">
      <div class="head-container">
        <div class="row">
          <div class="col-md-12">
            <div class="search-container search-container-refund">
              <div class="refund-header">Edyoos Refunds and Cancelation</div>
                <div class="search-container search-container-refund-bx">
                  <p>In the event you need to cancel your reservation, Edyoos will refund the total amount to the payment method provided at checkout. It may take up to 15 days for your account to be credited. You may change or cancel any future reservation, depending on availability, until 1 hour prior to the start of your reservation. </p>
                  <p>Parking space owners may invoke their own cancelation policy if they so choose. If the parking space owner has a separate cancelation policy, it will be outlined in full detail under that space's information section. If the parking space owner has not listed a refund or cancelation policy, the Edyoos Refund and Cancelation policy will become the default. </p>
                  <p>Terms and conditions are subject to change. Please contact our customer support team with any questions at&nbsp;<span style="text-decoration:underline;"><a href="mailto:park@edyoos.com" target="_self" data-content="park@edyoos.com" data-type="mail">park@edyoos.com</a></span>&nbsp;or 844-633-9667.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>