.custom-row{
  display: flex;
flex-wrap: wrap;
}
// .login-page{
//     background-image: url("/assets/images/Background-signin.jpg");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     padding-top: 6rem;
//     padding-bottom: 6rem;
// }
.login-container{
  text-align: center;
  background-color: #ffffff;
  width: 38%;
  padding: 1rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.login-container h1{
  font-size: 1.5rem;
  color: #818181;
  padding: 8px 15px;
  border-bottom: 1px solid #d8d8d8;
}
.login-container h3 {
  text-align: left;
  margin: 0.5rem 0rem 0rem 0rem;
  display: block;

}
// .login-container input{
//     border-radius: 2rem;
//     border: 1px solid #8194a3;
// }
.login-container input:focus{
outline: 0px;
}
.login-btn {
  border-radius: 2rem;
  border: 2px solid #3489eb;
  background-color: #3489eb;
  color: #f4f4f4;
  width: 50%;
  padding: 0.5rem 0.75rem;
  transition: 0.5s;
}
.login-btn:hover {
  border: 2px solid #3489eb;
  background-color: #f4f4f4;
  color: #3489eb;
}
.login-btn:disabled {
  border: 2px solid #226ec5;
  background-color: #226ec5;
  color: #f4f4f4;
  opacity: 0.65;
}
.forget-container {
  text-align: right;
  margin-top: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1rem;
}
.forget-btn {
  color: #3489eb;
}
.forget-btn:hover {
  color: #3489eb;
  text-decoration: none;
}
.checkbox{
  text-align: left;
  margin-top: 1rem;
}
.social-img {
  text-align: center;
  margin: 25px 0 0;
}
.social-img img {
  width: 3rem;
  margin: 0rem 0.75rem;
}


.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
  // background: url("/assets/images/background_img.jpg");
}
.wrapper:after {
  display: table;
  clear: both;
  content: " "
}

.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh
}


.full-page > .content,
.full-page > .footer {
  position: relative;
  z-index: 4;
  padding: 60px 0 0;
}
.form-card {
  background: #ffffff;
  padding: 30px;
}
.form-card-grid {
  width: 100%;
}
  .form-card-grid h2 {
      font-size: 24px;
      margin: 0 0 35px;
      text-align: center;
  }
.mat-form-field{
width: 100%;
}
  // .form-card-grid input[type="text"], .form-card-grid input[type="text"] {
  //     border-width: 0 0 1px 0;
  //     box-shadow: 0;
  //     background: transparent;
  //     border-radius: 0;
  //     width: 86%;
  //     border-color: #c9cfd4;
  //     border-style: solid;
  //     padding: 0 0 0 23px;
  // }
.form-card .btn {
  background: #5480f0;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 20px;
  border: 0;
}
.form-card .form-group i {
  color: #238dde;
  position: absolute;
  left: 0;
  top: 10px;
}

.form-card .form-group {
  position: relative;
  margin: 0;
}

  .form-card .form-group input[type="checkbox"] {
      display: none;
  }

      .form-card .form-group input[type="checkbox"] + label {
          color: #9b9ea1;
          font-size: 14px;
          padding: 0 0 0 20px;
      }

          .form-card .form-group input[type="checkbox"] + label:before {
              border: 1px solid #9b9ea1;
              content: "";
              position: absolute;
              width: 15px;
              height: 15px;
              left: 0;
              top: 4px;
              border-radius: 2px;
          }

      .form-card .form-group input[type="checkbox"]:checked + label::before {
          background: #adcfeb;
          border: 1px solid #adcfeb;
      }
.form-card .btn:hover {
  background: #5480f0;
  color: #fff;
}
.sign-container {
  background: url("/assets/images/log-bg-3.jpg");
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: 70% 100%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.social-img li {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.log-fb a {
  background: #3b5998;
}
.log-gp a {
  background: #ea4335;
}
.log-ap a {
  background: #000000;
}
.social-img li a {
  padding: 5px 10px;
  border-radius: 50%;
}
.login-page-wrapper{
  height: auto;
  min-height: 75vh;
   background-repeat: no-repeat;
   background-position: center center;
      //background-size: cover;
  background-image: url("/assets/images/viagalactica-DxHR8K5Egjk-unsplash_edited_edited.jpg");
}
.form-control{
  background-color:#dbdbdb !important;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
}
.form-control {
  background-color: rgb(219, 219, 219);
  &:hover, &:active,&:focus{
    outline: none !important;
    border: none !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgba(76, 218, 100) !important;;
  }
}
::-webkit-input-placeholder { /* Edge */
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
  font-weight: bold;
  font-size: 14px;

}

::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.btn-login{
  background: rgba(76, 218, 100) !important;;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 20px;
  border: 0;
  &:hover{
      background: #000;
      color: #fff;
  }  
}