<nav class="navbar fixed-top navbar-expand navbar-dark nav-st">  
  <a class="navbar-brand pl-2" href="#">
    <img src="assets/images/edyoos-logo.svg" class="img-logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{
      collapse: collapsed,
      'navbar-collapse': true,
      'nav-bar-toggled': !collapsed
    }">

    <ul class="navbar-nav ml-auto nav-icon">

      <!-- <li class="nav-link">
        <a [routerLink]="['/landing/home']" class="f-16 text-light mx-1" routerLinkActive="text-active"> Home </a>
        <a [routerLink]="['/landing/about']" class="f-16 text-light mx-1" routerLinkActive="text-active"> About </a>
        <a [routerLink]="['/landing/why-Edyoos']" class="f-16 text-light mx-1" routerLinkActive="text-active"> Why
          Edyoos</a>
      </li> -->
      <li #bagIconElement class="nav-link" style="position: relative;" (click)="openCartDetails()">
        <i class="fa fa-shopping-bag"></i>
        <span class="notification" *ngIf="ordersCount > 0">{{ ordersCount }}</span>
      </li>

      <!-- <li *ngIf="isLoggedIn" class="nav-link">
        <a (click)="router.navigateByUrl('dashboard/myorders')"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
      </li> -->

      <!-- <li class="nav-link" style="position: relative;" (click)="router.navigateByUrl('profile')" *ngIf="isLoggedIn">
        <i class="fa fa-user" aria-hidden="true"></i>
      </li> -->

      <li class="nav-link">
        <a [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <i class="fa fa-bars" aria-hidden="true"></i>

        </a>

        <mat-menu #menu="matMenu">

          <button (click)="router.navigateByUrl('pages/login')" *ngIf="!isLoggedIn" mat-menu-item>

            <span class="d-inline-block mt-2">Sign In</span>
          </button>

          <button (click)="router.navigateByUrl('pages/register')" *ngIf="!isLoggedIn" mat-menu-item>
            <span>Sign Up</span>
          </button>
          <!-- 
          <button *ngIf="isLoggedIn" (click)="router.navigateByUrl('user/dashboard/home')" mat-menu-item>
            <span class="d-inline-block mt-2 mb-0">Dashboard</span>
          </button> -->

          <button *ngIf="isLoggedIn" (click)="router.navigateByUrl('user/dashboard/myOrders')" mat-menu-item>
            <span class="d-inline-block mt-2 mb-0">My Orders</span>
          </button>

          <button *ngIf="isLoggedIn" mat-menu-item (click)="router.navigateByUrl('user/dashboard/payment')">
            <span>Payment</span>
          </button>

          <button *ngIf="isLoggedIn" (click)="router.navigateByUrl('profile')" mat-menu-item>
            <span>Profile</span>
          </button>

          <button *ngIf="isLoggedIn" (click)="signOut()" mat-menu-item>
            <span>Sign Out</span>
          </button>

        </mat-menu>

        <!-- <button *ngIf="!isLoggedIn" class="btn my-2 mx-1 my-sm-0 btn-custom" type="submit"
          (click)="router.navigateByUrl('auth/login')">
          Sign-in
        </button>
        <button *ngIf="!isLoggedIn" class="btn my-2 ml-1 my-sm-0 btn-custom" type="submit"
          (click)="router.navigateByUrl('auth/signup')">
          Sign-up
        </button>
        <button *ngIf="isLoggedIn" class="btn my-2 my-sm-0 btn-custom" type="submit" (click)="signOut()">
          Sign-out
        </button> -->

      </li>
    </ul>
  </div>

  <mat-card class="cart-details" [style]="'top:'+cartTopStyle">
    <div #cartDivElement>
      <div *ngIf="ordersCount==0" class="text-center" style="margin-top: 100px;">
        <h3>There is no items available in the cart</h3>
      </div>

      <div class="text-center" *ngIf="showCartSpinner">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="ordersCount>0 && !showCartSpinner" class="cart-font">
        <div class="text-center cart-title">
          <strong>Order Summary</strong> ({{ordersCount}} Items)
        </div>
        <hr class="mb-0 mt-md-1 mt-sm-1 my-2" />
        <mat-card-content class="text-left">
          <div class="row mt-md-4 no-gutters flex-nowrap"
            *ngFor="let propertyGroup of cartPropertyGroup; let i = index">
            <div class="col-md-12">
              <div class="row no-gutters align-items-center  flex-nowrap">
                <div class="col-6">
                  <strong *ngIf="propertyGroup.propertyName"
                    tooltip="{{ propertyGroup.propertyName }}">{{ commonService.stringSlicer( propertyGroup.propertyName,20)}}</strong>

                  <strong *ngIf="propertyGroup.propertyname"
                    tooltip="{{ propertyGroup.propertyname }}">{{ commonService.stringSlicer(propertyGroup.propertyname,20)}}</strong>
                </div>
                <div class="col-4 font-weight-bold">
                  {{propertyGroup.calculatedAmount | currency}}
                </div>
                <div class="col-2 pl-md-0 pl-2 ">
                  <span (click)="deletePlace(i)" [hidden]="hideDeleteIcon" #deleteIconElement
                    style="cursor: pointer;font-size: 18px;" class="text-danger ml-2 mt-1 float-md-right">
                    <img style="max-width: 20px;" src="./assets/images/trash.png">
                  </span>
                  <span *ngIf="hideDeleteIcon" class="spinner-border text-danger mt-1 float-md-right"
                    style="width: 1rem; height: 1rem;" role="status">
                    <span class="sr-only">Loading...</span>
                  </span>
                </div>
              </div>
              <div class="row no-gutters align-items-center my-3">
                <div class="col-md-6 col-6">
                  <span class="det-date-yy">{{propertyGroup?.searchFromDateTime| date:'short'}}</span>
                </div>
                <div class="col-md-6 col-6">
                  <span class="det-date-yy">{{propertyGroup?.searchToDateTime| date:'short'}}</span>
                </div>
                <div *ngIf="!(propertyGroup?.isSpotAvaliable)" class="col-md-12 text-center pt-2"
                  style="font-size:11px;">
                  <span class="text-danger">{{spotNotAvailableErrorMessage}}</span>
                </div>

              </div>
            </div>
          </div>
          <hr class="mb-0 mt-md-1 my-2" />
          <div class="row mt-md-3 no-gutters align-items-center">
            <div class="col-md-6 col-6">
              <span class="font-weight-bold">Total ({{ordersCount}} Items) :</span>
            </div>
            <div class="col-md-6 col-6 font-weight-bold text-primary ">
              {{total | currency}}
            </div>
          </div>
          <hr class="mb-0" />
        </mat-card-content>

        <mat-card-actions class="text-center text-white my-0">
          <button mat-raised-button color="warn" class="text-white" (click)="proceedToCheckOut()">Proceed
            to Checkout</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>

</nav>