.text-orange{
    color: #d46c23;
}
.heading-text{
    font-weight: 400;
    font-size: 30px;
    text-align: left;
}
p.text-orange{
    font-weight: 500;
}
h4.text-orange{
    font-weight: 500;
    color: #dc6e21 !important;
}
li{
    margin: 10px 0px;
    list-style-type: initial;
}
a{
    text-decoration: underline;
}
