<div style="background-color: #e2eaf7;">
  <div class="container-fluid mx-auto py-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="">
          <h1 style="font-size: 40px;" class="h1 text-center">
            HOW IT WORKS
          </h1>
          <h3 class="text-center h3">
            For Users
          </h3>
          <div class="row no-gutters justify-content-center">
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img class="img img-fluid" style="height: 200px;width: 100%;" src="/assets/images/iphoen-edy.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2 font-weight-bold">Search</h1>
                <hr class="mt-0">
                <p class="mb-0">Select the date and time you need parking.then receive the spot you want online.</p>
              </div>
            </div>
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img style="height: 200px;width: 100%;" class="img img-fluid" src="/assets/images/visa-banner.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2 font-weight-bold">Pay</h1>
                <hr class="mt-0">
                <p class="mb-0">Pay for your parking ahead of your time through the edyoos website or app.</p>
              </div>
            </div>
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img style="height: 200px;width: 100%;" class="img img-fluid" src="/assets/images/park-banner.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2 font-weight-bold">Park</h1>
                <hr class="mt-0">
                <p class="mb-0">Arrive on-site and park your reserved spot. No searching, no waiting</p>
              </div>
            </div>
          </div>
          <h3 class="text-center mt-4 h3">
            For Businesses
          </h3>
          <div class="row no-gutters justify-content-center">
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img class="img img-fluid" style="height: 200px; width: 100%;" src="/assets/images/logo-banner.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2 font-weight-bold">List Your Spot</h1>
                <hr class="mt-0">
                <p class="mb-0">upload unlimited parking spaces. you can include the locations,pictures and details.</p>
              </div>
            </div>
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img style="height: 200px; width: 100%;" class="img img-fluid" src="/assets/images/watch-banner.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2 font-weight-bold">Set Availablity</h1>
                <hr class="mt-0">
                <p class="mb-0">Let youe customers know when your spot is ready to be reserved.</p>
              </div>
            </div>
            <div class="col-3 bg-light p-0 mx-3 rounded">
              <div class="img-section text-center">
                <img style="height: 200px; width: 100%;" class="img img-fluid" src="/assets/images/money-banner.PNG"
                  alt="">
              </div>
              <div class="bg-silver pl-2 pb-2 text-section">
                <h1 style="font-size: 25px;" class="h1 mb-0 text-dark mt-2  font-weight-bold">Make Money</h1>
                <hr class="mt-0">
                <p class="mb-0">Edyoos is completelty free.Every time your space is rented, the payment goes to you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>