<div class="container">
    <div class="row mt-2 p-2" *ngIf="!disableOkBtn">
        <h2>Some spots are is not available,Would you like to go with available spots?</h2>
    </div>

    <div class="row mt-2 text-danger" *ngIf="disableOkBtn">
        <h2>There is no spots availble now.Could you please change the date</h2>
    </div>

    <div class="row" *ngFor="let propertyGroupDetail of cartPropertyGroupDetails">

        <div class="col-md-8 mb-2 col-6">
            <span *ngIf="propertyGroupDetail.propertyname">{{propertyGroupDetail.propertyname}}</span>
            <span *ngIf="propertyGroupDetail.propertyName">{{propertyGroupDetail.propertyName}}</span>

        </div>

        <div class="col-md-4 mb-2 col-6">
            <span class="text-success" *ngIf="propertyGroupDetail.isSpotAvaliable">Available</span>
            <span class="text-danger" *ngIf="!propertyGroupDetail.isSpotAvaliable">Not Available</span>

        </div>

    </div>

    <div class="row my-4 text-center">
        <div class="col-md-12" *ngIf="!disableOkBtn">
            <button class="btn btn-success mr-3" [disabled]="disableOkBtn" [mat-dialog-close]="true">Ok</button>
            <button class="btn btn-danger" [mat-dialog-close]="false">No Thanks</button>
        </div>
        <div class="col-md-12" *ngIf="disableOkBtn">

            <button class="btn btn-success mr-3" [mat-dialog-close]="false">Ok</button>

        </div>
    </div>
</div>