<section class="login-page-wrapper">
    <app-nav-bar-new></app-nav-bar-new>
    <div class="container py-5">
        <div class="row no-gutters">
            <div class="col-12 col-md-7 mx-auto px-md-5 bg-light" style="border-radius: 20px;">
                <form [formGroup]="confirmEmailForm" (ngSubmit)="onSubmit()">
                    <div class="form-card">
                        <div class="form-card-grid">
                            <h1 class="h1 font-weight-bold text-center py-2" style="font-size: 30px;">Confirm Email</h1>
                           
                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <input class="form-control form-control-lg" type="password"
                                            (blur)="logValidationErrors()" placeholder="Enter Password" id="password"
                                            formControlName="password" />
                                        <div *ngIf="formErrors.password" class="text-danger">
                                            {{formErrors.password}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <div class="form-group mt-4 mb-3">
                                        <button class="btn-login py-2"
                                            [disabled]="submitBtnDisable || confirmEmailForm.invalid">
                                            <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable"
                                                role="status" aria-hidden="true"></span>
                                            {{submitBtnDisable?'Loading...':'Submit'}}
                                        </button>
                                    </div>

                                    <div class="text-center text-danger mt-2">
                                        {{httpError}}
                                    </div>
                                </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>