<div style="background-color:#8aa7c3;">
  <div class="container mx-auto text-light py-3">
    <div class="row no-gutters">
      <div class="col-8 text-center">
        <section class="bg-light-color py-4" style="width: 80%;">
          <img class="img-banner"
            src="https://static.wixstatic.com/media/a37347_b13d8573cace4f02b6ea5617adfdacf0~mv2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/edyoos1.webp"
            alt="">
        </section>
      </div>
      <div class="col text-center">
        <div class="icon-section text-center">
          <span class="material-icons" style="font-size: 10rem;color: #f5f5f5;">
            business
          </span>
        </div>
        <h1 class="h1 my-1" style="font-size: 40px;">
          For Businesses
        </h1>
        <h3 class="h3 my-2">
          #1 In Revenue Retention
        </h3>
        <p class="p mb-0">
          Say goodbye to costly parking management fees. Enjoy cost-free, hassle-free, real-time parking management with
          Edyoos. We'll even customize your plan with flexible software and digital marketing support.
        </p>
      </div>
    </div>
  </div>
</div>
<div style="background-color:#575e65;">
  <div class="container mx-auto text-light py-5 ">
    <div class="row no-gutters">
      <div class="col text-center">
        <div class="icon-section text-center">
          <span class="material-icons" style="font-size: 10rem;color: f5f5f5;">
            directions_car
          </span>
        </div>
        <h1 class="h1 my-1" style="font-size: 40px;">
          For Visitors
        </h1>
        <h3 class="h3 my-2">
          Easy, Real-Time Reservations

        </h3>
        <p class="p mb-0">
          Edyoos is the ultimate parking reservation platform for visitors and clients. Offer a completely contact-free,
          zero-fuss alternative to crowded lots, packed garages, and complicated street parking. With secure payment
          options and real-time tracking, scoring the perfect spot has never been easier
        </p>
      </div>
      <div class="col-8 text-center">
        <section class="bg-light-color py-4" style="width: 80%;">
          <img class="img-banner-right"
            src="https://static.wixstatic.com/media/a37347_5c5c71462b524f51a2266fe63bd73444~mv2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/car-1149997_1920.webp"
            alt="">
        </section>
      </div>
    </div>
  </div>
</div>
<div style="background-color:#8aa7c3;">
  <div class="container mx-auto text-light py-5 ">
    <div class="row no-gutters">
      <div class="col-8 text-center">
        <section class="bg-light-color py-4" style="width: 80%;">
          <img class="img-banner"
            src="https://static.wixstatic.com/media/a37347_348b9b900ae347ad963225b4d229ebc9~mv2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01/russia-95311_1920.webp"
            alt="">
        </section>
      </div>
      <div class="col text-center">
        <div class="icon-section text-center">
          <span class="material-icons" style="font-size: 10rem;color: f5f5f5;">
            business
          </span>
        </div>
        <h1 class="h1 my-1" style="font-size: 40px;">
          For Employees
        </h1>
        <h3 class="h3 my-2">
          Convenient, Reliable Parking
        </h3>
        <p class="p mb-0">
          No busy work week is complete without rush-hour commutes, and crazy city traffic. Let Edyoos can make mornings
          easier on your business with simple parking solutions for all your employees.
        </p>
      </div>
    </div>
  </div>
</div>