<div class="pg-container" style="overflow: hidden;">
  <!-- <div class="container-us" style="z-index: 10;">
    <div class="package-container">
      <div class="packages-eus p-3 col-10" style="box-shadow: none;">
        <h2>What is Edyoos?</h2>
        <p>
          Edyoos facilitates the ability to select the exact parking space before
          arriving at your business.<br />
          During peak hours parking can become a nightmare! Edyoos handles
          everything, you do not have to worry about anything.
        </p>
      </div>
    </div>
  </div> -->

  <!-- How we works -->
  <!-- <div class="container-us">
      <div class="top">
        <h1>How we works</h1>
      </div>
  
      <div class="package-container">
        <div class="packages-us p-3">
          <h2>FIND</h2>
          <p>Find and compare garages and rate</p>
          <img src="/assets/images/search-icon.png" />
        </div>
        <div class="packages-us p-3">
          <h2>Reserve</h2>
          <p>
            Find and compare garages and rate
          </p>
          <img src="/assets/images/reserve-icon.png" />
        </div>
        <div class="packages-us p-3">
          <h2>Park</h2>
          <p>
            Find and compare garages and rate
          </p>
          <img src="/assets/images/garage-icon.png" />
        </div>
      </div>
    </div> -->
  <!-- How we works -->
  <!-- <div class="container-us">
      <div class="top">
        <h1>Why Edyoos</h1>
      </div>
      <div class="package-container">
        <div class="packages-table p-3 col-10">
          <table>
            <tr>
              <td class="table-mark">&#9745;</td>
              <td><b>Reduce</b></td>
            </tr>
            <tr>
              <td></td>
              <td>- Time to wait for a good parking space</td>
            </tr>
            <tr>
              <td></td>
              <td>- Car pile ups</td>
            </tr>
            <tr>
              <td></td>
              <td>- Parking wait time</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="table-mark pt-4">&#9745;</td>
              <td class="pt-4"><b>Eliminate</b></td>
            </tr>
            <tr>
              <td></td>
              <td>- Searching for parking</td>
            </tr>
            <tr>
              <td></td>
              <td>- Wasted profit area</td>
            </tr>
            <tr>
              <td></td>
              <td>- Customers dissatisfaction</td>
            </tr>
            <tr>
              <td></td>
              <td>- Lost business of parking hassles</td>
            </tr>
          </table>
  
          <table>
            <tr>
              <td class="table-mark table-border pl-3">&#9745;</td>
              <td><b>Create</b></td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Ease of use</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Platform connecting customers to parking space</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Extra Revenue for parking lot owners</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Profit from high in demand spaces</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Parking reservation system</td>
            </tr>
            <tr>
              <td class="table-mark table-border pl-3 pt-4">&#9745;</td>
              <td class="pt-4"><b>Raise</b></td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Ability to park in premier locations</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td>- Customers able to find good sparking spaces.</td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td></td>
            </tr>
            <tr>
              <td class="table-border pl-3"></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->

  <div class="" class="what-wrapper">
    <section class="container-fluid mt-5" style="overflow: hidden;">
      <div class="container mx-auto mt-2">
        <div class="row no-gutters">
          <div class="col-lg mx-auto text-center">
            <iframe src="https://www.youtube.com/embed/kckPu7ZnPqA" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <!-- <iframe src="https://www.youtube.com/embed/gOBB7pyV0c4" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe> -->
          </div>
          <div class="how-works col-lg col-12">
            <div class="mb-5">
              <div class="heading-1 font-poponis">HOW EDYOOS WORKS</div>
              <p class="text-left mb-lg-4 font-futura f16" style="color: #180849 ;">Edyoos is the easiest way to
                reserve parking for all your travels, near or far.
              </p>
              <div class="row f16">
                <div class="col-12 mb-4">
                  <div class="icon-howed icon-how-location"></div>
                  <p class="mb-0 mt-1 icon-howp font-futura font-weight-bold">
                    Use Edyoos' simple search bar to find parking for any vehicle by location, city, or address.
                  </p>
                </div>
                <div class="col-12 mb-4">
                  <div class="icon-howed icon-how-clock"></div>
                  <p class="mb-0 mt-1 icon-howp font-futura font-weight-bold">
                    Book a spot for the time & date you need. Pay in advance to reserve parking through our secure
                    server.
                  </p>
                </div>
                <div class="col-12 mb-4">
                  <div class="icon-howed icon-how-car"></div>
                  <p class="mb-0 mt-1 icon-howp font-futura font-weight-bold">
                    That's it! On the day of your reservation, locate your spot with our real-time tracking.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="mobile-section mb-5" style="background-color: #dbdbdb;">
    <div class="container-fluid mx-auto">
      <div class="mob-app-container py-3">
        <div class="row no-gutters">
          <div class="col-auto mx-lg-0 mx-auto">
            <div class="font-poponis mobdown-header">
              Download The Edyoos App!
            </div>
            <p style="font-size: 18px;" class="py-1 font-futura">
              Easy booking for on-the-go. Real-time tracking & support at your fingertips.
            </p>
            <div class=" mt-3 fl100">
              <a href="https://apps.apple.com/us/app/edyoos/id1511587153" target="_blank" class="pr-2 d-inline-block mdp-dv"><img
                  src="/assets/images/app-store-badge.png" alt="Get it on Itunes" class="img img-fluid"></a>
              <a href="https://play.google.com/store/apps/details?id=web2application.a221271579920460.com.myapplication"
              target="_blank" class="pl-2 d-inline-block mdp-dv"><img src="/assets/images/google-play-badge.png" alt="Play Store"
                  class="img img-fluid">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6 col-12 mx-lg-0 mx-auto">
            <div class="img-section pt-3 pb-2 pl-2">
              <img src="/assets/images/responsive-mobile.png" alt="Mobile Icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="rounded-circle mb-5">
    <div class="container-fluid mx-auto px-0">
      <div class="m-0">
        <div class="row">
          <div class="col-md-12 col-12">
            <ul class="find-spot-cms">
              <li>
                <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                  id="svgbauhaus-comp-kfsclre6img">
                  <defs>
                    <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                      <feComponentTransfer result="srcRGB" />
                      <feColorMatrix values="0" type="saturate" />
                      <feColorMatrix
                        values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                        type="matrix" />
                      <feComponentTransfer />
                    </filter>
                  </defs>
                </svg>

                <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                  role="img" version="1.1" id="svgcomp-kfsclre6img">
                  <defs>
                    <style>
                      #mask-comp-kfsclre6img-svg * {
                        fill: #fff;
                        stroke: #fff;
                        stroke-width: 0;
                      }
                    </style>
                    <mask id="mask-comp-kfsclre6img">
                      <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                        id="mask-comp-kfsclre6img-svg-use" />
                    </mask>
                    <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                      viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                      preserveAspectRatio="none">
                      <g>
                        <path d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                      </g>
                    </svg>

                  </defs>
                  <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                    mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/city-background-268.jpg"
                    data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform="" y="0"
                    x="0" height="268" width="268"
                    style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                </svg>
                <!-- <img src="/assets/images/city-background.jpg" alt="" class="img img-fluid rounded-circle img-custom"> -->
                <div class="text-center py-2">
                  <div class="f22 pt-2 pb-0 font-poponis"
                    style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">CITY PARKING </div>
                  <button class="btn px-5 btn-search" (click)="navigatetoTop(vehicleCategory.City_Parking)">
                    Find A Spot
                  </button>
                </div>
              </li>
              <li>
                <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                  id="svgbauhaus-comp-kfsclre6img">
                  <defs>
                    <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                      <feComponentTransfer result="srcRGB" />
                      <feColorMatrix values="0" type="saturate" />
                      <feColorMatrix
                        values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                        type="matrix" />
                      <feComponentTransfer />
                    </filter>
                  </defs>
                </svg>

                <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                  role="img" version="1.1" id="svgcomp-kfsclre6img">
                  <defs>
                    <style>
                      #mask-comp-kfsclre6img-svg * {
                        fill: #fff;
                        stroke: #fff;
                        stroke-width: 0;
                      }
                    </style>
                    <mask id="mask-comp-kfsclre6img">
                      <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                        id="mask-comp-kfsclre6img-svg-use" />
                    </mask>
                    <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                      viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                      preserveAspectRatio="none">
                      <g>
                        <path d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                      </g>
                    </svg>

                  </defs>
                  <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                    mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/truck-parking-268.jpg"
                    data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform="" y="0"
                    x="0" height="268" width="268"
                    style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                </svg>
                <div class="text-center py-2">
                  <div class="f22 pt-2 pb-0 font-poponis"
                    style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">TRUCK & TRAILER PARKING</div>
                  <button class="btn px-5 btn-search" (click)="navigatetoTop(vehicleCategory.Truck_And_Trailer)">
                    Find A Spot
                  </button>
                </div>
              </li>
              <li>
                <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                  id="svgbauhaus-comp-kfsclre6img">
                  <defs>
                    <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                      <feComponentTransfer result="srcRGB" />
                      <feColorMatrix values="0" type="saturate" />
                      <feColorMatrix
                        values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                        type="matrix" />
                      <feComponentTransfer />
                    </filter>
                  </defs>
                </svg>

                <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                  role="img" version="1.1" id="svgcomp-kfsclre6img">
                  <defs>
                    <style>
                      #mask-comp-kfsclre6img-svg * {
                        fill: #fff;
                        stroke: #fff;
                        stroke-width: 0;
                      }
                    </style>
                    <mask id="mask-comp-kfsclre6img">
                      <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                        id="mask-comp-kfsclre6img-svg-use" />
                    </mask>
                    <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                      viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                      preserveAspectRatio="none">
                      <g>
                        <path d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                      </g>
                    </svg>

                  </defs>
                  <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                    mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/airport-parking-268.jpg"
                    data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform="" y="0"
                    x="0" height="268" width="268"
                    style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                </svg>
                <div class="text-center py-2">
                  <div class="f22 pt-2 pb-0 font-poponis"
                    style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">AIRPORT PARKING</div>
                  <button class="btn px-5 btn-search" (click)="navigatetoTop(vehicleCategory.Airport_Parking)">
                    Find A Spot
                  </button>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="mt-5">
        <div class="">
          <div class="row justify-content-center">
            <div class="col-md-12 col-12">
              <ul class="find-spot-cms find-spot-cms-4">
                <li>
                  <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                    id="svgbauhaus-comp-kfsclre6img">
                    <defs>
                      <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                        <feComponentTransfer result="srcRGB" />
                        <feColorMatrix values="0" type="saturate" />
                        <feColorMatrix
                          values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                          type="matrix" />
                        <feComponentTransfer />
                      </filter>
                    </defs>
                  </svg>

                  <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                    role="img" version="1.1" id="svgcomp-kfsclre6img">
                    <defs>
                      <style>
                        #mask-comp-kfsclre6img-svg * {
                          fill: #fff;
                          stroke: #fff;
                          stroke-width: 0;
                        }
                      </style>
                      <mask id="mask-comp-kfsclre6img">
                        <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                          id="mask-comp-kfsclre6img-svg-use" />
                      </mask>
                      <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                        viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                        preserveAspectRatio="none">
                        <g>
                          <path
                            d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                        </g>
                      </svg>

                    </defs>
                    <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                      mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/boat-parking-1-268.jpg"
                      data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform=""
                      y="0" x="0" height="268" width="268"
                      style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                  </svg>
                  <div class="text-center py-2">
                    <div class="f22 pt-2 pb-0 font-poponis"
                      style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">BOAT PARKING

                    </div>
                    <button class="btn px-5 btn-search" (click)="navigatetoTop(vehicleCategory.Boat)">
                      Find A Spot
                    </button>
                  </div>
                </li>
                <li>
                  <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                    id="svgbauhaus-comp-kfsclre6img">
                    <defs>
                      <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                        <feComponentTransfer result="srcRGB" />
                        <feColorMatrix values="0" type="saturate" />
                        <feColorMatrix
                          values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                          type="matrix" />
                        <feComponentTransfer />
                      </filter>
                    </defs>
                  </svg>

                  <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                    role="img" version="1.1" id="svgcomp-kfsclre6img">
                    <defs>
                      <style>
                        #mask-comp-kfsclre6img-svg * {
                          fill: #fff;
                          stroke: #fff;
                          stroke-width: 0;
                        }
                      </style>
                      <mask id="mask-comp-kfsclre6img">
                        <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                          id="mask-comp-kfsclre6img-svg-use" />
                      </mask>
                      <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                        viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                        preserveAspectRatio="none">
                        <g>
                          <path
                            d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                        </g>
                      </svg>

                    </defs>
                    <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                      mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/semi-truck-parking-268.jpg"
                      data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform=""
                      y="0" x="0" height="268" width="268"
                      style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                  </svg>
                  <div class="text-center py-2">
                    <div class="f22 pt-2 pb-0 font-poponis"
                      style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">SEMI-TRUCK PARKING

                    </div>
                    <button class="btn px-5 btn-search" (click)="navigatetoTop(vehicleCategory.Semi_Truck)">
                      Find A Spot
                    </button>
                  </div>
                </li>
                <li>
                  <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                    id="svgbauhaus-comp-kfsclre6img">
                    <defs>
                      <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                        <feComponentTransfer result="srcRGB" />
                        <feColorMatrix values="0" type="saturate" />
                        <feColorMatrix
                          values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                          type="matrix" />
                        <feComponentTransfer />
                      </filter>
                    </defs>
                  </svg>

                  <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                    role="img" version="1.1" id="svgcomp-kfsclre6img">
                    <defs>
                      <style>
                        #mask-comp-kfsclre6img-svg * {
                          fill: #fff;
                          stroke: #fff;
                          stroke-width: 0;
                        }
                      </style>
                      <mask id="mask-comp-kfsclre6img">
                        <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                          id="mask-comp-kfsclre6img-svg-use" />
                      </mask>
                      <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                        viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                        preserveAspectRatio="none">
                        <g>
                          <path
                            d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                        </g>
                      </svg>

                    </defs>
                    <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                      mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/sea-plane-parking-268.jpg"
                      data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform=""
                      y="0" x="0" height="268" width="268"
                      style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                  </svg>
                  <div class="text-center py-2">
                    <div class="f22 pt-2 pb-0 font-poponis"
                      style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">SEAPLANE PARKING
                    </div>
                    <button class="btn px-5 btn-search" disabled style="background-color: grey !important;" (click)="navigatetoTop(vehicleCategory.Seaplane)">
                      Find A Spot
                    </button>
                  </div>
                </li>
                <li>
                  <svg style="width:0;height:0;left:0;top:0;overflow:hidden;position:absolute" version="1.1"
                    id="svgbauhaus-comp-kfsclre6img">
                    <defs>
                      <filter color-interpolation-filters="sRGB" id="bauhaus-comp-kfsclre6img">
                        <feComponentTransfer result="srcRGB" />
                        <feColorMatrix values="0" type="saturate" />
                        <feColorMatrix
                          values="0.9098039215686274 0 0 0 0 0.7568627450980392 0 0 0 0.15294117647058825 0.3803921568627451 0 0 0 0.5294117647058824 0 0 0 1 0"
                          type="matrix" />
                        <feComponentTransfer />
                      </filter>
                    </defs>
                  </svg>

                  <svg viewBox="0 0 268 268" height="268" width="268" aria-label="mark-chan-UeiEu2D8cTA-unsplash.jpg"
                    role="img" version="1.1" id="svgcomp-kfsclre6img">
                    <defs>
                      <style>
                        #mask-comp-kfsclre6img-svg * {
                          fill: #fff;
                          stroke: #fff;
                          stroke-width: 0;
                        }
                      </style>
                      <mask id="mask-comp-kfsclre6img">
                        <use y="0" x="0" height="100%" width="100%" xlink:href="#mask-comp-kfsclre6img-svg"
                          id="mask-comp-kfsclre6img-svg-use" />
                      </mask>
                      <svg role="img" data-type="shape" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                        viewBox="20 20 160 160" data-bbox="20 20 160 160" id="mask-comp-kfsclre6img-svg"
                        preserveAspectRatio="none">
                        <g>
                          <path
                            d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z" />
                        </g>
                      </svg>

                    </defs>
                    <image filter="url(#bauhaus-comp-kfsclre6img)" data-svg-mask="mask-comp-kfsclre6img-svg"
                      mask="url(#mask-comp-kfsclre6img)" xlink:href="/assets/images/helicopter-parking-268.jpg"
                      data-type="image" id="comp-kfsclre6imgimage" preserveAspectRatio="xMidYMid slice" transform=""
                      y="0" x="0" height="268" width="268"
                      style="display: block; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 268px; height: 268px;" />
                  </svg>
                  <div class="text-center py-2">
                    <div class="f22 pt-2 pb-0 font-poponis"
                      style="margin-bottom:10px;font-weight:600;letter-spacing:0.1em;">HELICOPTER PARKING
                    </div>
                    <button class="btn px-5 btn-search" disabled style="background-color: grey !important;"  (click)="navigatetoTop(vehicleCategory.Helicopter)">
                      Find A Spot
                    </button>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div class="clearfix"></div>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-12">
        <div class="w-100 mx-auto mb-5 mt-5" style="max-width: 860px;">
          <iframe style="height: 450px !important;" class="mx-auto w-100 h-100 video-container"
            src="https://www.youtube.com/embed/jj2dHtVYX2E" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <iframe style="height: 450px !important;" class="mx-auto w-100 h-100 video-container" src="https://www.youtube.com/embed/nbZAJkyQi8s"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> -->
        </div>
      </div>
    </div>

  </div>
</div>